@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    background-color: rgba(241, 241, 241, 0.555);
}

#content {
    display: flex;
    flex-direction: column;
}

#form {
    background-color: white;
}

#logo {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 72px;
    font-family: "Norse-Bold", Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, .35);
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 200px;
}

#main {
    display: flex;
    height: 100vh;
}

#odin-logo {
    width: 75px;
    height: auto;
}

#odin-text {
    padding-top: 15px;
}

#splash {
    display: flex;
    flex-direction: column;
    background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

#splash-credit {
    color: white;
    position: fixed;
    bottom: 0;
    padding-bottom: 1%;
    text-align: center;
    align-self: center;
}

 #splash-credit a {
    color: white;
 }