@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

body {
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    color: white;
    font-size: 24pt;
    font-family: "Norse-Bold", Arial, Helvetica, sans-serif;
}

#main {
    display: flex;
    height: 100vh;
}

#odin_logo {
    width: 100px;
    height: auto;
}

#splash {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    min-width: 300px;
}